
.novel .no-fix{
  height: 100vh;
  width: 100vw;
  background-color:#e1dad0;
  position: fixed;
  z-index:1;
}
.novel .no-abs{
  height: 100vh;
  background-color:#e1dad0;
  position: absolute;
  z-index:2;
  padding: 60px 20px;
  box-sizing: border-box;
  font-size: 30px;
  writing-mode: vertical-lr;
  left: 0;
  transition: all .5s;
  scroll-behavior: smooth;
}
.no-abs >p{
  margin: 0;
  padding-right: 34px;
  line-height: 30px;
  letter-spacing: 8px;
  font-family: cursive;
  color: #8b8b8b;
  opacity: 0;
  transition: .8s;
}
.no-abs >p.bold{
  color: #000;
  opacity: 1;
}
.no-abs >p:nth-child(n){
  /* color: #2b2b2b; */
}
.no-abs >p:nth-child(2n){
  /* color: #2b2b2b; */
}
.no-abs img{
  position: absolute;
  left:0;
  bottom: 0;
  z-index:3;
  animation: imgshow 2s;
  opacity: 0.1;
  
}
.no-abs img.img1{
  left: 0;
}
.no-abs img.img2{
  left: 800px;
}
.novel .fix1{
  position: fixed;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
  z-index:99;
  background-color: #e7e7e7;
  animation: fixHide 3s;
  animation-delay: 8s;
  animation-timing-function: cubic-bezier(0.45, 0.44, 0.45, 0.46);
  animation-fill-mode: forwards;
}
.novel .fix1 .msg.one{
  writing-mode: vertical-lr;
  position: fixed;
  right: 60px;
  top: 60px;
  font-family: cursive;
  font-size: 50px;
  opacity: 0;
  animation: msgShowHide 8s;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(0.45, 0.44, 0.45, 0.46);
  animation-fill-mode: forwards;
}
.novel .fix1 .msg >span:nth-child(1){
  font-size: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  padding: 2px;
}
.novel .fix1 .msg >span:nth-child(2){
  font-size: 46px;
  font-weight: 600;
}

.novel .fix1 .msg.two >div{
  /* background-color: antiquewhite; */
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -500px;
  height: 600px;
  width: 1000px;
}
.novel .fix1 .msg.two >div img{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  object-fit: cover;
  opacity: 0;
}
.novel .fix1 .msg.two >div img.top{
  animation: msgShowHideImgTop 8s;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(0.45, 0.44, 0.45, 0.46);
  animation-fill-mode: forwards;
}
.novel .fix1 .msg.two >div img.bot{
  animation: msgShowHideImgBot 8s;
  animation-delay: .5s;
  animation-timing-function: cubic-bezier(0.45, 0.44, 0.45, 0.46);
  animation-fill-mode: forwards;
}
.novel .fix1 .msg.two >div img.img1{
  left: 0;
  top: 0;
}
.novel .fix1 .msg.two >div img.img2{
  left: 101px;
  top: 200px;
}
.novel .fix1 .msg.two >div img.img3{
  left: 201px;
  top: 0;
}
.novel .fix1 .msg.two >div img.img4{
  left: 301px;
  top: 200px;
}
.novel .fix1 .msg.two >div img.img5{
  left: 401px;
  top: 0;
}
.novel .fix1 .msg.two >div img.img6{
  left: 501px;
  top: 200px;
}
.novel .fix1 .msg.two >div img.img7{
  left: 601px;
  top: 0;
}
.novel .fix1 .msg.two >div img.img8{
  left: 701px;
  top: 200px;
}
.novel .fix1 .msg.two >div img.img9{
  left: 801px;
  top: 0;
}
.novel .fix1 .msg.two >div img.img10{
  left: 901px;
  top: 200px;
}

@keyframes imgshow {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.1;
  }
}

@keyframes fixHide {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
  
@keyframes msgShowHide {
  0%{
    opacity: 0;
    transform: scale(.7);
    right: 90px;
    top: 90px;
  }
  10%{
    opacity: 0.6;
  }
  20%{
    opacity: 1;
    transform: scale(1);
    right: 60px;
    top: 60px;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 1;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 1;
  }
  90%{
    opacity: 0.5;
  }
  100%{
    opacity: 0;
  }
}
  
@keyframes msgShowHideImgTop {
  0%{
    opacity: 0;
    top: 0;
  }
  10%{
    opacity: 0.5;
  }
  20%{
    opacity: 1;
    top: 80px;
  }
  30%{
    opacity: 1;
    top: 80px;
  }
  40%{
    opacity: 1;
    top: 80px;
  }
  50%{
    opacity: 1;
    top: 80px;
  }
  60%{
    opacity: 1;
    top: 80px;
  }
  70%{
    opacity: 1;
    top: 80px;
  }
  80%{
    opacity: 1;
    top: 80px;
  }
  90%{
    opacity: 0.5;
    top: 80px;
  }
  100%{
    opacity: 0;
    top: 80px;
  }
}
@keyframes msgShowHideImgBot {
  0%{
    opacity: 0;
    top: 200px;
  }
  10%{
    opacity: 0.5;
  }
  20%{
    opacity: 1;
    top: 120px;
  }
  30%{
    opacity: 1;
    top: 120px;
  }
  40%{
    opacity: 1;
    top: 120px;
  }
  50%{
    opacity: 1;
    top: 120px;
  }
  60%{
    opacity: 1;
    top: 120px;
  }
  70%{
    opacity: 1;
    top: 120px;
  }
  80%{
    opacity: 1;
    top: 120px;
  }
  90%{
    opacity: 0.5;
    top: 120px;
  }
  100%{
    opacity: 0;
    top: 120px;
  }
}
